# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Storing filepath in a variable and reading into pandas
weatherpy = "../output_data/clean_cities.csv"
clean_city_df = pd.read_csv(weatherpy, encoding="ISO-8859-1")
clean_city_df.head(5)

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date,country
0,katsuura,35.13,140.30,18.00,100,75,2.1,1592519767,JP
1,ilulissat,69.22,-51.10,1.00,100,90,2.1,1592519777,GL
2,uspantan,15.38,-90.83,13.73,100,99,0.8,1592520098,GT
3,hasaki,35.73,140.83,18.89,100,75,3.1,1592519779,JP
4,nelson bay,-32.72,152.15,10.56,100,75,3.6,1592520054,AU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Create base map
gmaps.configure(g_key)
fig = gmaps.figure(map_type ="TERRAIN")

# set lat and long for mapping and humidity for weights
locations = clean_city_df[['lat', 'long']]
weights = clean_city_df['humidity']

#create heatmap layer and add to fig
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)

heatmap_layer = gmaps.heatmap_layer(
    clean_city_df[['lat', 'long']], weights=clean_city_df['humidity'],
    max_intensity=30, point_radius=3.0)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 5

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* Narrow down the DataFrame to find your ideal weather condition.
* Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
 * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [5]:
# Narrowing down df to desirable locations with weather no more than 95 degrees and humidity less than 50%
vacay_df = clean_city_df.dropna()
vacay_df.head()

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date,country
0,katsuura,35.13,140.30,18.00,100,75,2.1,1592519767,JP
1,ilulissat,69.22,-51.10,1.00,100,90,2.1,1592519777,GL
2,uspantan,15.38,-90.83,13.73,100,99,0.8,1592520098,GT
3,hasaki,35.73,140.83,18.89,100,75,3.1,1592519779,JP
4,nelson bay,-32.72,152.15,10.56,100,75,3.6,1592520054,AU

In [6]:
vacay_df=vacay_df.loc[vacay_df["maxtemp"] > 15.5, :]
vacay_df=vacay_df.loc[vacay_df["maxtemp"] < 40, :]
vacay_df=vacay_df.loc[vacay_df["humidity"] < 50, :]
vacay_df.sort_values("maxtemp", inplace = True, ascending=False)
vacay_df.head()

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date,country
557,ojinaga,29.57,-104.42,39.00,13,1,2.60,1592520099,MX
538,podor,16.65,-14.96,38.00,27,89,1.00,1592519789,MR
552,adrar,20.50,-10.07,36.44,17,50,7.36,1592520092,MR
516,enid,36.40,-97.88,36.00,36,40,9.80,1592519951,US
558,laguna,38.42,-121.42,35.56,11,1,3.10,1592519469,US

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# creating new df to include hotels. Inserting new column to be populated with closest hotel results
hotel_df = vacay_df
hotel_df["Hotel"] = ""
hotel_df.head()

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date,country,Hotel
557,ojinaga,29.57,-104.42,39.00,13,1,2.60,1592520099,MX,
538,podor,16.65,-14.96,38.00,27,89,1.00,1592519789,MR,
552,adrar,20.50,-10.07,36.44,17,50,7.36,1592520092,MR,
516,enid,36.40,-97.88,36.00,36,40,9.80,1592519951,US,
558,laguna,38.42,-121.42,35.56,11,1,3.10,1592519469,US,

In [8]:
# # pulling in test repsonse URL to determine the layout of the response json file
# test = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=AIzaSyAEC3mwd2C8KsdMq-UetAO3oDbk4tl0ns8"
# print(test)

In [9]:
# find the closest hotel for each of the cities
params = {
    "keyword": "hotel",
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,}

# use iterrows to iterate through dataframe
for index, row in hotel_df.iterrows():

# define lat/long coords to iterate thru loop for each city
    latitude = row['lat']
    longitude = row['long']
    params["location"] = f"{latitude},{longitude}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_name = requests.get(base_url, params=params)
    hotel_name  = hotel_name.json()    
    try:
        hotel_df.loc[index, "Hotel"] = hotel_name["results"][0]["name"]
        
    except (KeyError, IndexError):
        pass

hotel_df.head(10)

,city,lat,long,maxtemp,humidity,cloudiness,windspeed,date,country,Hotel
557,ojinaga,29.57,-104.42,39.00,13,1,2.60,1592520099,MX,Hotel Armendariz
538,podor,16.65,-14.96,38.00,27,89,1.00,1592519789,MR,La cour du fleuve
552,adrar,20.50,-10.07,36.44,17,50,7.36,1592520092,MR,
516,enid,36.40,-97.88,36.00,36,40,9.80,1592519951,US,Maple Place Bed & Breakfast
558,laguna,38.42,-121.42,35.56,11,1,3.10,1592519469,US,Holiday Inn Express & Suites Elk Grove Central...
545,matamoros,25.53,-103.25,35.00,23,75,2.60,1592520080,MX,Quinta las Flores
546,cabo san lucas,22.89,-109.91,35.00,21,5,4.60,1592519558,MX,CABO INN
517,salina,38.84,-97.61,35.00,36,40,10.30,1592520104,US,Homewood Suites by Hilton Salina Downtown
559,arlit,18.74,7.39,34.73,10,0,2.98,1592519769,NE,Hôtel Telwa Bungalow
502,kayes,14.00,-11.00,34.61,43,97,5.74,1592520094,ML,

In [10]:
# NOTE: Do not change any of the code in this cell
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name

locations = hotel_df[["lat", "long"]]

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=info_box_template)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))